Options All -Indexes

<FilesMatch "(config|.+\.html)\.php">
	deny from all
</FilesMatch>


<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_URI} !\.(bmp|cgi|css|flv|gif|ico|jpe?g|js|png|html|php|swf|xml)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule (.*) index.php [L,QSA]
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(ico|css|flv|gif|ico|jpe?g|png|)$">
		Header set Cache-Control "Max-age=3024000, public"
	</FilesMatch>
	
	<FilesMatch "\.(php)$">
		Header set Cache-Control "no-cache, private"
	</FilesMatch>
	
</IfModule>
