
body{
	background-color: #aa1e4f;
} 
#title{

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden; 
	text-align: center;
	height: 11vh;
}
#title>h1{
		font-size: 5vw;
}

button{
	background-color: #123456;
}